<nav>
    <ul class="flag">
        <li>
            <a class="login" href="/login"> Login</a>
        </li>
        <%-include('./list-lang')%>

        <li>
            <a class="register" href="/register"> Register</a>
        </li>



    </ul>
</nav>