<li>
                    <div class="dropdown"  data-bs-theme="dark">
                        <button onclick="flag()" id="dropup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-translate"></i>
                        </button>

                        <ul id="flags" class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">

                                <li>
                                    <a id="eng"  href="?clang=en" >
                                        <i class="flag-united-kingdom flag m-0"></i><%=translation.Album.EN%></a>
                                </li>



                                <li>
                                    <a id="pl"  href="?clang=pl" ><i class="flag-poland flag"></i><%=translation.Album.PL%></a>

                                </li>


                            <li>
                                <a id="fr" href="?clang=fr" ><i class="flag-france flag"></i><%=translation.Album.FR%></a>

                            </li>
                            <li>
                                <a id="ht"  href="?clang=ht"><i class="flag-haiti flag"></i><%=translation.Album.HT%></a>

                            </li>



                        </ul>
                    </div>

</li>



