
<footer id="foot" class="flex flex-col items-center bg-neutral-200 text-center text-white dark:bg-neutral-600 dark:text-neutral-200">


    <div
            class="w-full bg-neutral-300 p-4 text-center text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200">
        Jonatant NOSTHE
        © 2023 Copyright:
        <a class="dark:text-neutral-400" href="https://tw-elements.com/"
        >TW elements</a
        >
    </div>
</footer>